nav{
    background-color: #0a0a0a;
}
nav div ul{
    list-style: none;
    margin: 0;
}
nav div ul li{
    padding: 1.5rem 1.5rem;
}
nav div ul li a{
    text-decoration: none;
    color: greenyellow;
    font-size: 20px;
}