.bienvenida{
    margin-top: 32px;
    background-color: greenyellow;
}
.bienvenida h1{
    text-align: center;
    padding: 4rem 0 0 0;
}
.bienvenida div{
    padding: 2rem 0;
}
.bienvenida p{
    margin: 0 .5rem 0 .5rem;
    font-size: 20px;
    font-weight: 500;
}