button{
    padding: .5rem 1rem;
    background-color: greenyellow;
    border: none;
}
button i{
    margin-right: .25rem;
    padding: .45rem 0 .45rem 0;
}
#contador{
    color: black;
    margin: 0;
    font-size: 20px;
    font-family: "Azonix";
}